bin
obj
.vs
/UnityAssetsProject/Library
/UnityAssetsProject/UserSettings/Layouts
/UnityAssetsProject/.vsconfig
/UnityAssetsProject/AssetBundles
/UnityAssetsProject/Logs
/UnityAssetsProject/Packages
/UnityAssetsProject/UserSettings
/local.props
/UnityAssetsProject/Assets/Assemblies
